<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/car_marketplace</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">admin</property>
    <property name="hibernate.connection.pool_size">10</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>

    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="generate_statistics">true</property>

    <property name="hibernate.hbm2ddl.auto">create-drop</property>
    <!--<property name="hibernate.hbm2ddl.auto">create</property>-->
    <!--<property name="hibernate.hbm2ddl.auto">update</property>-->
    <property name="hibernate.enable_lazy_load_no_trans">true</property>
    <property name="hibernate.event.merge.entity_copy_observer">allow</property>
    <property name="hibernate.cache.use_second_level_cache">false</property>

    <mapping class="ru.job4j.entity.Photo"/>
    <mapping class="ru.job4j.entity.Engine"/>
    <mapping class="ru.job4j.entity.Transmission"/>
    <mapping class="ru.job4j.entity.ProductionInfo"/>
    <mapping class="ru.job4j.entity.Car"/>
    <mapping class="ru.job4j.entity.User"/>
    <mapping class="ru.job4j.entity.Item"/>

  </session-factory>
</hibernate-configuration>